/LogRecordsCount/Properties/
/LogRecordsCount/bin/*
/LogRecordsCount/obj/*
/Meeting/Properties/
/Meeting/bin/*
/Meeting/obj/*
/MethodProperties/Properties/
/MethodProperties/bin/*
/MethodProperties/obj/*
/Reminder/Properties/
/Reminder/bin/*
/Reminder/obj/*
/Rights/Properties/
/Rights/bin/*
/Rights/obj/*
/StringValue/Properties/
/StringValue/bin/*
/StringValue/obj/*
/XML/Properties/
/XML/bin/*
/XML/obj/*
/Logger/Properties/
/Logger/bin/*
/Logger/obj/*
/Localization/Properties/
/Localization/bin/*
/Localization/obj/*
/LoadGZippedText/Properties/
/LoadGZippedText/bin/*
/LoadGZippedText/obj/*
/FindMaximum/Properties/
/FindMaximum/bin/*
/FindMaximum/obj/*
/FileByStrings/Properties/
/FileByStrings/bin/*
/FileByStrings/obj/*
/FileByDescendingStrings/Properties/
/FileByDescendingStrings/bin/*
/FileByDescendingStrings/obj/*
/Excel/Properties/
/Excel/bin/*
/Excel/obj/*
/DLLMethodProperties/Properties/
/DLLMethodProperties/bin/*
/DLLMethodProperties/obj/*
/Complex/Properties/
/Complex/bin/*
/Complex/obj/*